#sideBar{
    width:20%;
    margin-right: 10px;
    float:left;
    padding:0px;

    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0px 2px 3px #ccc;
    margin-bottom:10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #edeceb;
}

ul{
    padding:0px;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
}
.sidemenu{
    list-style-type: none;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.sidemenu , li{
    background-color: #ffffff;
    margin:0px 0px 5px 0px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-top:8px;
    padding-bottom:8px;
    box-shadow: 0px 2px 3px #000;
    box-sizing: border-box;

}

.sidemenu, li:hover{
    background-color: #edeceb;

}

